
 
  
.about-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* padding: 50px 20px; */
  min-height: 100vh;
  padding-top: 500px;
}


.about-box {
  font-size: 2rem;
  color: #8ff48f;
  font-weight: 700;
  margin: 30px 0;
  padding: 20px;
  text-align: center;
  /* background-color: #ffffff; */
  border-radius: 10px;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1); */
  z-index: 2;
  position: relative;
   background: transparent;
  
}



.about-container img {
  width: 100%;
  max-width: 900px;
  height: auto;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.2);
  margin-bottom: 30px;
  /* padding-top: 300px; */
}

.about-box {
  position: absolute;
  /* padding-top:1000px ; */
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 2rem;
  font-weight: 700;
  color: #fff;
  text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.7);
  z-index: 2;
  
}


.about-container p {
  max-width: 900px;
  font-size: 1.1rem;
  color: #111;
  line-height: 1.8;
  text-align: justify;
  background: rgba(255, 255, 255, 0.9);
  padding: 20px 25px;
  border-radius: 12px;
  margin-bottom: 20px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

#footer {
  width: 100%;
  background-color: #2f2f2f;
  color: #bfb6a9;
  text-align: center;
  padding: 20px 20px;
  font-size: 1rem;
  letter-spacing: 0.5px;
  box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.05);
  margin-top: auto;
  height: 5px;
  max-width: 2000px;
}
