
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgb(57, 56, 56);
  display: flex;
  justify-content: flex; 
  align-items: center;
  padding: 12px 20px;
  gap: 10px; 
  z-index: 1000;
}

.navbar a {
  color: white;
  text-decoration: none;
  font-size: 14px;
  display: flex;
  align-items: center;
  gap: 2px; 
  transition: color 0.3s ease;
}

.navbar a:hover {
  color: #0078D4;
}


@media (max-width: 600px) {
  .navbar {
    gap: 10px;
    padding: 12px 15px;
  }

  .navbar a {
    font-size: 16px;
  }
}
